version: '3.8'

services:
  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - "mongo-data:/data/db"

  backend:
    build: ./book-backend
    command: npm run start:dev
    ports:
    - "3000:3000"
    depends_on:
    - mongo

  frontend:
    build: ./books-front
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data: